bak/
bin/
!bin/skin/*.xml
!bin/nbsg.v11.suo
nbsg/bak/
nbsg/sqlite3/
output/
tools/
nbsg/res/nbsg.aps
nbsg/nbsg.plg
nbsg.ncb
nbsg.opt
nbsg.positions
nbsg.sdf
clean.bat
updates.txt
ipch/
nbsg_release/
